<!DOCTYPE html>
<html lang="en">

<head>
    <title>MongoDB BREADS(Browse,Read,Edit,Add,Delete)</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/javascripts/bootstrap.bundle.min.js"></script>


    <script>
        let executorid = '<%= userid %>'
    </script>
    <script src="/javascripts/Todo.js"></script>
    <script src="/javascripts/moment.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="container px-0">

        <h1>Todo List</h1>

        
            <div class="inside">
                <div class="inline">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="contain-input">
                        <input type="text"  id="inputTitle" name="title"
                            placeholder="insert your title" ">
                    </div>
                </div>
                <div class=" deadline"><label for="deadline">Deadline</label>
                        <div class="dlDate">
                            <input type="datetime-local" id="startDeadline" name="startDeadline">
                            <p>s.d</p>
                            <input type="datetime-local" id="endDeadline" name="endDeadline">
                        </div>
                    </div>
                    <div class="rowcomplete"><label for="complete" class="col-sm-2 col-form-label">Complete</label>
                        <select name="complete" id="complete">
                            <option value="">-select complete-</option>
                            <option value="false">Not Yet</option>
                            <option value="true">Done</option>
                        </select>
                    </div>

                    <div class="findcluster">
                        <div class="sortData" id="changeSort">
                            <button class="btn btn-success" onclick="sortAsc('deadline')"><i
                                    class="fa-solid fa-sort"></i> sort by deadline</button>
                        </div>
                        <div class="search-button">
                            <button class="btn btn-warning" onclick="reset()"><i
                                    class="fa-solid fa-rotate"></i></button>
                            <button class="btn btn-info" onclick="search()">
                                <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
        
        <div class="addTodo">
            <input type="text" name="title" id="title" placeholder="title">
            <button class="btn btn-primary" onclick="addTodo()"><i
                    class="fa-sharp fa-solid fa-circle-down"></i></button>
        </div>

        <div id="todos-list">

        </div>
    </div>

    <!-- modals -->
    <div class="modal fade" id="formTodo" tabindex="-1" aria-labelledby="todoForm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="todoFormLabel">Update Todo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form-user">
                        <div class="row mb-3">
                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="title" class="form-control" id="editTitle" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="deadline" class="col-sm-2 col-form-label">Deadline</label>
                            <div class="col-sm-10">
                                <input type="datetime-local" class="form-control" name="deadline" id="editDeadline"
                                    required />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="complete" class="col-sm-2 col-form-label">Complete</label>
                            <div class="col-sm-10">
                                <div class="form-check my-2">
                                    <input class="form-check-input" type="checkbox" id="editComplete">
                                    <label class="form-check-label" for="editComplete">
                                        done
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnupdate" onclick="updateTodo()" data-bs-dismiss="modal">Save
                        Changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTodo" tabindex="-1" aria-labelledby="todoDelete" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" id="deleteButton" onclick="deleteTodo()" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</body>


</html>